version: "3.9"

services:
  ingest:
    build: .
    env_file: .env
    volumes:
      - /microscope_output:/microscope_output
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: rtg_microscopy
      POSTGRES_USER: rtg
      POSTGRES_PASSWORD: rtgsecret
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
